/*COLORS: #494847-dark grey  #9c9b9a-grey #093DA4-blue #3D6CC9-lightBlue
#D40056-pink #E8347D-lightPink #7BE000-lime #9DF136-lightLime #F6A100-yellow
#FFBB39-lightYellow*/
#body{
	position:relative;
	width:768px;
	height:500px;
}
#image{/*landing page img*/
	border:1px solid #9c9b9a;
	padding:15px;
position:relative;
top:0px;
text-align: center;
z-index:-1;
}
#portfolio{
	background-image: url("../images/logo_webWhite.png");
	background-repeat:space;
}
#about{
	background-color:#ffffff;
	background-image:url("../images/buddha_blue.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	padding:20px;
}
#form{
	background-color:#494847;
	background-image:url("../images/eggato.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	padding:20px;
}
#headings{
	padding:10px;
}
#landingPage{
	background-color: #ffffff;
}

#landHome{
background-color:#7BE000;
transition: background-color, color .5s;
}
#landHome:hover{
	background-color:#D40056;
}
#landPortfolio{
background-color:#F6A100;
}
#landPortfolio:hover{
	background-color:#093DA4;
}
#landAbout{
	background-color:#D40056;
}
#landAbout:hover{
	background-color:#7BE000;
}
#landContact{
	background-color:#093DA4;
}
#landContact:hover{
background-color:#F6A100;
}
#navigation{
	border:1px solid #9c9b9a;
	background-color: #494847;
	opacity: .5;
  width:200px;
  height:300px;
  right:0px;
	top:0px;
  position:fixed;
	padding: 0px;
	z-index: 1;
}
#navigation:hover{
	border:1px dashed #9c9b9a;
	opacity: .7;
}
#Navlogo{
	width:100px;
	height:100px;
	position:absolute;
	top:5px;
	left:50px;
}
#Navhome{
	color:#F6A100;
	position:absolute;
  top:70px;
  left:0px;
}
#Navportfolio{
	color:#F6A100;
	position:absolute;
  top:120px;
  left:0px;
}

#Navcontact{
	color:#F6A100;
  position: absolute;
  top:170px;
	left:0px;
}

#Navabout{
	color:#F6A100;
  position:absolute;
  top:220px;
	left:0px;
}
#Navhome,#Navabout,#Navcontact,#Navportfolio:hover{
	color:#9c9b9a;
}

#video{
	position:relative;
	top:0px;
	left:0px;
	padding:10px;
	margin:0px;
	width:100%;
}
li{
	font-family: 'Josefin Sans', sans-serif;
	color:#9c9b9a;
	padding:10px;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	color:#9c9b9a;
	padding:10px;

}

h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	color:#D40056;
	font-weight: bold;
	background-color:#7BE000;
}
h3{
	font-family: 'Forum', cursive;
	font-weight: 700;
	color:#D40056;
	padding:10px;
	width:450px;
	margin:0 auto;
	position:relative;
}
h4{
	font-family: 'Forum', cursive;
	color:#494847;
	padding:5px;

}
p{
	font-family: 'Forum', cursive;
	color:#ffffff;
	background-color:#9c9b9a;
	padding:10px;
	width:450px;
	margin:0 auto;
	position:relative;
	opacity:.7;
}
a{
	color:#ffffff;
}
a:hover{
	color:#9c9b9a;
}
