
/*selector {property:value;}*/

/*COLORS:
#A1FEED-aqua  #F9058A-fusia  #6AF977-green*/

#portfolio .mainnavigation li {background-color:#F9058A ;}

h1 {font-family: "Impact", Serif;}
div{
	 width: 40px;
	 height: 100px;
	 background: #F9058A  /*fusia*/;
	 -webkit-transition: width 1.5s;
	 transition: width 1.5s;

}

div:hover {
	 width: 500px;

}

#about li {background-color: #A1FEED;}
h1 {color:#6AF977;}
h1 {font-family: "Impact", Serif;}
div {
    width: 40px;
    height: 100px;
    background: #A1FEED;
    -webkit-transition: width 1.5s;
    transition: width 1.5s;
}

div:hover {
    width: 500px;
		height: 100px;
}
#indexpage .mainnavigation li {background-color: #A1FEED;}
h1 {color:#6AF977;}
h1 {font-family: "Impact", Serif;}
div {
    width: 40px;
    height: 100px;
    background: #A1FEED;
    -webkit-transition: width 1.5s;
    transition: width 1.5s;
}

div:hover {
    width: 500px;
		height: 100px;
}
/*#logo a {
	background-image:url('../images/wflogo.png');
	min-height:0;
	height:40px;
}
* html #logo a {/* IE6 png Support */
	/*background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/wflogo.png", sizingMethod="crop");}*/
