/*
seniorProject CSS */
html, body{
  width: 100%;
  height:100%;
  margin:0;
}

.nav{
  border-bottom:1px solid #eaeaeb;
  text-align:right;
  height:70px;
  line-height:70px;
}
.menu{
  margin:0 30px 0 0;
}
.menu a {
  text-decoration: none;
  color:gray;
  margin:0 10px;
  line-height: 70px;
}
span{
  color:#54d17a;
}
label{
  margin: 0 40px 0 0;
  font-size:26px;
  line-height: 70px;
  display:none;
}
#toggle{
  display:none;
}

@media only screen and (max-width:500px){
  /* everything inside will apply to html when 500px or lesss */
  label{
    display:block;
    cursor:pointer;
  }

  .menu{
  text-align: center;
  width:100%;
  display:none;
  }
  .menu a {
    display:block;
    border-bottom: 1px solid #eaeaeb;
    margin:0;

  }
  #toggle: checked + .menu {
    display:block;
  }
}

li{
	font-family: 'Josefin Sans', sans-serif;
	color:#9c9b9a;
	padding:10px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color:#000000;
	padding:5px;
	text-align: center;
}

h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	color:#D40056;
	font-weight: bold;
	background-color:#7BE000;
}
h3{
  font-family: 'Montserrat', sans-serif;
  /* font-family:'Julius Sans One', sans-serif; */
	color:#D40056;
	padding:5px;
	text-align: center;
}
h4{
	font-family: 'Forum', cursive;
	color:#494847;
	padding:5px;
}
p{
  font-family: 'Montserrat', sans-serif;
	color:#000000;
	/* background-color:#000000; */
	padding:10px;
	/* width:450px; */
	margin:0 auto;
	position:relative;
	opacity:.7;
}
a{
	color:#000000;
}
a:hover{
	color:#9c9b9a;
}

#triplicata{
	/* height:2000px; */
	background-color:#ffffff;
}
